footer#footer.sticky-bottom.p-2.text-center.text-light.bg-dark.bg-gradient
    p.mb-0 &copy;Todos los derechos reservados
    script(src="app.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js")