<header id="header" class="p-3 text-center">
    <h1>{{appName}}</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>version: </strong>{{version}} 
        </li>
        <li class="list-group-item">
            <strong>descripcion: </strong>{{description}} 
        </li>
    </ul>
</header>