<header id="header" class="d-grid align-content-center px-1 text-center min-vh-100 text-light bg-primary">
    <h1 class="display-1 fw-bold">{{APP}}</h1>
    <p class="h1">Bienvenido al sitio</p>
</header>