<nav class="navbar navbar-dark bg-dark bg-gradient | navbar-expand-md | sticky-top p-2">
    <a class="navbar-brand" href="#">{{appName}}</a>
    <button class="navbar-toggler navbar-toggler-icon"
        data-bs-target="#menu"
        data-bs-toggle="collapse">
    </button>
    <ul id="menu" class="navbar-nav navbar-collapse collapse">
    {{#each links}}
        {{#with this}}
        <li class="align-self-start">
            <a class="nav-link" href="{{url}}">
                <span class="fas fa-{{icon}}"></span>
                {{text}}
            </a>
        </li>
        {{/with}}
    {{/each}}
    </ul>
</nav>