<form action="/login" method="post" class="container | col-md-8 col-lg-6 col-xxl-4 | m-3 mx-auto p-3 rounded shadow">
    <h2>Iniciar Sesion</h2>
    <label for="user">Usuario o Correo</label>
    <input class="form-control" type="text" name="name" id="user">
    <label for="pass">Contraseña</label>
    <input class="form-control" type="password" id="pass" autocomplete="true">
    <button class="d-block my-2 ms-auto | btn btn-success">Iniciar Sesion</button>
</form>