{{>msg}}
<form action="/login" method="post" class="container | col-md-8 col-lg-6 col-xxl-4 | m-3 mx-auto p-3 rounded shadow">
    <h2>Iniciar Sesion</h2>
    <label for="user">Usuario o Correo</label>
    <input class="form-control" 
        id="user"
        name="name" 
        type="text" 
        required>
    <label for="pass">Contraseña</label>
    <input class="form-control" 
        id="pass" 
        name="password" 
        type="password" 
        autocomplete="true"
        minlength="6"
        required>
    <p class="m-0">No tengo cuenta <a href="/signin">registrate</a></p>
    <button class="d-block my-2 ms-auto | btn btn-success">Iniciar Sesion</button>
</form>