{{>msg}}
<form action="/signin" method="post" class="container | col-md-8 col-lg-6 col-xxl-4 | m-3 mx-auto p-3 rounded shadow">
    <h2>Crear Cuenta</h2>
    <label for="user">Ingrese su Usuario</label>
    <input class="form-control" 
        type="text" 
        id="user" 
        name="name" 
        required>
    <label for="email">Ingrese su Correo</label>
    <input class="form-control" 
        type="email" 
        id="email" 
        name="email" 
        required>
    <label for="pass1">Ingrese su Contraseña</label>
    <input class="form-control" 
        type="password" 
        id="pass1" 
        name="password" 
        required>
    <label for="pass2">Repita su Contraseña</label>
    <input class="form-control" 
        type="password" 
        id="pass2" 
        required>
    <p class="m-0">Ya tengo cuenta <a href="/login">Iniciar sesion</a></p>
    <button class="d-block ms-auto | btn btn-success">Registrarse</button>
</form>