html(lang="es")
    //- Cabecera de Documento
    include partials/dochead
    body
        //- Navegacion
        include partials/nav
        //- Cabecera de Pagina
        include partials/header
        //- Contenido Principal
        main
            if users
                include layouts/users
        //- Pie de Pagina
        include partials/footer