#footer {
    padding: 1rem;
    color: var(--light);
    background-image: conic-gradient(
        rgba(var(--primary-rgb), .7),
        rgba(var(--secondary-rgb), .7)
    );
    & [id^="map"] {
        position: absolute;
        &.active,
        &.active + button#mapButton {
            position: fixed;
            z-index: 1;
        }
    }
}