[class*="header"] {
    font-family: var(--heading);
}
#header {
    display: grid;
    min-height: min(100vh, 720px);
    font-size: clamp(.5rem, 2vmax, 2rem); /* Tipografia Flexible */
    padding: 1rem max(1rem, calc(50vw - 480px));
    align-items: center;
    gap: 1rem;
    color: var(--light);
    text-shadow: 0 0 .5rem var(--dark);
    background-image: 
        radial-gradient(
            circle at top left,
            rgb(var(--secondary-rgb), .7),
            rgb(var(--primary-rgb), .7)
        ),
        url('/assets/icon/cr.svg'),
        var(--bg);
    background-size: 
        cover, /* Cover | Contain */
        clamp(2rem, 10vw, 3rem); /* width height */
    background-position: 
        top right, /* Left Right Center Top Bottom*/
        calc(100% - 1rem) calc(100% - 1rem); /* eje-x eje-y */
    background-repeat: no-repeat;
    perspective: 5rem;
    perspective-origin: top center;
    overflow: hidden;
    & div {
        transform: translateZ(2.5rem);
        animation: intro 1s 2s ease-out forwards;
        /* SHORTHAND
        ANIMATION-*
            name:       nombre de la animacion
            duration:   tiempo que tardara la animacion
            delay:      tiempo de retraso para la animacion
            timing:     estilo de la animacion
            fill-mode:  como implementa la animacion
                - normal (vuelve a su estado original)
                - backwards (inicia como indica la animacion)
                - forwards (permanece como determine la animacion)
            iteration-count cantidad de repeticiones permitidas
            direction:  sentido en el que sera reproducida la pelicula
        */
        & * {
        line-height: 1;
   } }
    & img {
        width: min(100%, 320px);
        margin: auto;
        opacity: 1;
        animation: appear 1s 2s ease-out backwards;
    }
}
@media screen and (width >= 768px) {
    #header {
        grid-template-columns: 1fr 2fr;
    }
}
@media screen and (orientation: portrait){ 
    #header {
        --bg: url('/assets/bg/prod.jpg');
    }    
}
@media screen and (orientation: landscape){
    #header {
        --bg: url('/assets/bg/dev.jpg');
    }
}