body{
    display: grid;
    grid-template-areas: 
        'header' 
        'main'
        'section'
        'footer' 
        'nav'
    ;
}
#header{
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    display: grid;
    grid-area: main;
}
section.sea {
    grid-area: section;
}
#footer {
    grid-area: footer;
}
@media screen and (width >=768px){
    body{
        grid-template-areas: 
            'nav'
            'header'
            'main'
            'section'
            'footer'
        ;
    }
}
@media screen and (width >=992px){
    body{
        grid-template-areas: 
            'nav header'
            'nav main  '
            'nav section'
            'nav footer'
        ;
    }
}
@media screen and (width >=1200px){
    body{
        grid-template-areas: 
            'header'
            'nav'
            'main'
            'section'
            'footer'
        ;
    }
    main {
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }
    section {
        grid-column: 1;
    }
    aside {
        grid-column: 2;
        grid-row: 1;
    }
}