* {
    box-sizing: border-box;
    font-family: 'Open sans', 'Raleway', 'calibri', sans-serif;
    scroll-behavior: smooth;
    transition: all .25s linear;
}
/* Margin */
body,
h1,
h2,
header p,
.menu{
    margin: 0;
}
.menu{
    padding: 0;
}
.menu{
    list-style: none;
}
.menu a{
    text-decoration: none;
}
/* Estilos Generales */
body{
    background-color: #666;
}
h1{
    font-size: 1rem;
}
h2{
    font-size: 1rem;
}
p{
    margin: .2rem 0;
}
/* Barra de Navegacion */
nav{
    display: flex;
    gap: .5rem;
    background-color: #eee;
    padding: .25rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu{
    display: flex;
    gap: .5rem; 
}
form{
    display: none;
}
form:target{
    display: flex;
}
/* Seccion de Mensajes */
#chat-box{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3rem);
    padding: .5rem;
    gap: 1rem;
}
#chat-box article{
    position: relative;
    max-width: min(80vw, 540px);
    border-radius: .5rem;
    padding: .5rem;
    background: var(--color) linear-gradient(#fff8, #fff4);
}
#chat-box article::before{
    content: '';
    position: absolute;
    top: calc(100% - .25rem);
    width: 1rem;
    height: 1rem;
    background: var(--color) linear-gradient(#fff4, #fff2);
    clip-path: polygon(0% 0%, 0% 100%, 100% 0);
}
/* Mensajes */
[class*="other"]{
    --color: #aaa;
}
[class*="current"]{
    --color: #3c6;
    margin-left: auto;
}
/* Punta cuadro de dialogo */
[class*="other"]::before{
    left: .5rem;
}
[class*="current"]::before{
    right: .5rem;
    transform: rotateY(180deg);
}
/* Formulario */
form{
    position: sticky;
    bottom: 0;
    flex-direction: column;
    max-width: 420px;
    margin: 1rem auto 0;
    border-radius: .25rem;
    padding: .5rem;
    gap: .25rem;
}
form * {
    font-size: 1rem;
    outline: none;
    border-radius: .25rem;
    border: 1px solid;
    padding: .25rem .5rem;
}
label{
    position: fixed;
    opacity: 0;
}
textarea{
    min-height: 5rem;
    resize: vertical;
}
button{
    color: #284;
}
button:hover{
    color: #eee;
    background-color: #284;
}