$limit: 12;
.gallery{
    list-style: none;
    min-height: min(320px, 100vh);
    padding: 0;
    li{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @for $i from 1 through $limit {
            &:nth-child(#{$i}n){
                background-image: radial-gradient(
                    circle at top left,
                    hsl($i * 30, 50%, 60%),
                    hsl($i * 60, 50%, 40%)
                );
        }}
        &.active{
            z-index: 0;
        }
    }
}
.controls{
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    button{
        margin: .2rem;
        border: none;
        border-radius: .5rem;
        padding: .5rem;
        background-color: #ccc;
        &.active{
            padding: .25rem 1.5rem;
        }
    }
}
.prev{
    left: 0;
    &::before{
    content: "<"
}}
.next{
    right: 0;
    &::before{
    content: ">"
}}
.gallery-container {
    position: relative;
    & > button{
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: transparent;
        border: none;
        padding: 1rem;
        color: #eee;
        font-size: min(3rem, 5vw);
        opacity: .5;
        &:hover{
            opacity: 1;
        }
    }
}