$limit: 12;
@mixin transition($timing: linear, $prop: all, $time: .5s){
    transition: $prop $time $timing;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .5s linear;
    font-family: 'Ubuntu', 'calibri', sans-serif;
}
.gallery{
    list-style: none;
    min-height: min(320px, 100vh);
    padding: 0;
    &-item{
        @include transition(ease-out);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .5;
        @for $i from 1 through $limit {
            &:nth-child(#{$i}n){
                background-image: radial-gradient(
                    circle at top left,
                    hsl($i * 30, 50%, 60%),
                    hsl($i * 60, 50%, 40%)
                );
        }}
        &.active{
            opacity: 1;
        }
    }
}
.controls{
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    button{
        @include transition;
        margin: .2rem;
        border: none;
        border-radius: .5rem;
        padding: .5rem;
        background-color: #ccc;
        &.active{
            padding: .25rem 1.5rem;
            box-shadow: 0 0 .25rem #eee;
        }
    }
}
.prev{
    left: 0;
    &::before{
    content: "<"
}}
.next{
    right: 0;
    &::before{
    content: ">"
}}
.gallery-container {
    position: relative;
    & > button{
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: transparent;
        border: none;
        padding: 1rem;
        color: #eee;
        font-size: min(3rem, 5vw);
        opacity: .5;
        &:hover{
            opacity: 1;
        }
    }
}

$areas: input, actions, numbers, symbols;
#root {
    max-width: 480px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "input input input"
    "actions actions actions"
    "numbers numbers symbols";
}
@each $area in $areas{
    ##{$area}{
        display: flex;
        flex-wrap: wrap;
        grid-area: $area;
    }
}
#input{
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: .1rem solid #999;
}
#actions > *{
    flex: 1 0 min(320px, 33%);
}
#numbers{
    flex-wrap: wrap-reverse;
}
#numbers > * {
    flex: 1 0 33.3%;
}
#numbers :first-child{
    flex-basis: 100%;
}
#symbols{
    flex-direction: column-reverse;
}
button{
    padding: .5rem;
    border: 2px solid #fff;
    background-color: #ccc;
    &:hover{
        background: radial-gradient(circle at top left, #eee, #ccc)
    }
    &:focus{
        background: linear-gradient(#ccc, #999);
    }
}