@font-face {
    src: url("../assets/fonts/technova.ttf"); /* Ruta relativa */
    font-family: "digitales";
}
@font-face {
    src: url("/assets/fonts/optimus.otf"); /* Ruta Raiz */
    font-family: "techno";
}
/* FORMATOS
    eot (Ethernet Open Type)
    otf (Open Type Font)
    svg (scalable vector graphics)
    ttf (True Type Font)
    woff (Web Open Font File)
*/