.gallery {
    padding: 1rem;
    gap: 1rem;
}
.gallery > * {
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--grey);
}
.gallery :is(
    figure,
    img
){
    width: 100%;
    background-color: var(--grey);
}
/* Fondos de Pelicula */
.bg.gallery > *{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: #eee;
    text-shadow: 0 0 .15rem #000;
    background:
        radial-gradient(
            circle at top right,
            hsla(250, 50%,80%, 50%),
            hsla(250, 50%,30%, 50%)
        ),
        url("../assets/bg/red_cinema.jpg") top right/cover no-repeat;
}
.bg.gallery a{
    color: var(--light);
    font-size: 1.5rem;
}
/* Flexbox */
.flex{
    display: flex;
}
.flex > * {
    flex: 1 0 min(100%, var(--size));
    /* ATRIBUTOS flex-:
        grow:    define si un elemento debe crecer para ocupar espacio
        shrink:  establece si un elemento debe reducir su tamaño
        basis:   tamaño base del elemento hijo (inicial)
    */
}
/* Propiedades Flexbox */
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.row-reverse{
    flex-direction: row-reverse;
}
.column-reverse{
    flex-direction: column-reverse;
}
.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
/* CSS-Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,var(--size)), 1fr)); 
    /* EXPLICACION: 
        repeat(N,S): indica N cantidad de columnas de S tamaño
        * auto-fill:    rellena el espacio con x columnas
        * auto-fit:     estira las columnas para ocupar el espacio
        minmax(a,b): establece el tamaño minimo y maximo de las columnas 
    */
}