* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', 'Open Sans', sans-serif;
}
/* Tipografia */
.techno {
    font-family: 'techno';
}
.digitales {
    font-family: 'digitales';
}