* {
    box-sizing: border-box;
    /* EXPLICACION:
        CONTENT-BOX:
            content-width: width;
            final-width: width + padding + border;
        BORDER-BOX:
            final-with: width;
            content-width: width - padding - border
    */
    font-family: 'Ubuntu','Raleway','consolas', sans-serif;
    scroll-behavior: smooth;
}
/* Reinicios */
body,
h1,
h2,
h3,
.menu{
    margin: 0;
}
.menu{
    padding: 0;
}
.menu,
.list-unstyled{
    list-style: none;
}
:is(nav, .social) a,
.link{
    text-decoration: none;
}