/* Distribucion General */
body{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
        "nav"
    ;
    overflow-x: hidden;
}
nav{ grid-area: nav; }
#header{ grid-area: header; }
main{ grid-area: main; }
#footer{ grid-area: footer; }
/* Organizacion Contenido Principal */
main{
    display: grid;
    padding: .5rem;
    gap: 1rem;
}
section,
aside{
    padding: 1rem;
    box-shadow: 0 0 .25rem #666;
}
/* Medium Devices */
@media screen and (width >= 768px){
    body{
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer"
        ;
    }
}
/* Large Devices */
@media screen and (width >= 992px){
    body{
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer"
        ;
    }
    main{
        grid-template-columns: 3fr 1fr;
    }
    section{
        grid-column: 1;
    }
    aside {
        grid-column: 2;
        grid-row: 1 / 5;
    }
}