main {
    max-width: 1520px;
    margin: auto;
    padding: 1rem;
}
@media screen and (width >= 1400px){
    main{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem
    }
    section{
        grid-column: 1;
    }
    aside {
        min-height: calc(100vh - 3.5rem);
        background-color: var(--grey);
        grid-column: 2;
        grid-row: 1;
    }
    section h2,
    aside {
        position: sticky;
        top: 3.5rem;
    }
}